
.rectangulogris {
    background-color: rgb(204, 203, 203);
    border: 1px solid rgb(128, 124, 124);
    padding-bottom: 15px;
    padding-top: 15px;
    margin-left: 350px;
    margin-right: 350px;
    overflow: hidden; 
   

}

.rectangulogris span.anterior {
    color: black;
    padding-left: 5px;
    float: left
    
    
}

.rectangulogris span.siguiente {
    color: black;
    padding-right: 5px;
    float: right;
    
    
}
