.parent-box {
    display: grid;
    width: 25%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    
}

[class^="box"] {
    background-color: aqua;
    height: 75px;
    width: 75px;
   
}

[class^="box"]:hover {
    transform: scale(1.1);

}

.box-1 {
   animation: opacity 2s ease 0.5s 1 normal forwards;
   opacity: 0;
   
}
@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.box-2 {
    animation: opacity 2s ease 0.5s 1 normal forwards;
    opacity: 0;
    animation-delay: 1.5s;
}
@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.box-3 {
    animation: opacity 2s ease 0.5s 1 normal forwards;
    opacity: 0;
    animation-delay: 2s;
}
@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.box-4 {
    animation: opacity 2s ease 0.5s 1 normal forwards;
    opacity: 0;
    animation-delay: 2.5s;
}
@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.box-5 {
    animation: opacity 2s ease 0.5s 1 normal forwards;
    opacity: 0;
    animation-delay: 3s;
}
@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.box-6 {
    animation: opacity 2s ease 0.5s 1 normal forwards;
    opacity: 0;
    animation-delay: 3.5s;
}
@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.box-7 {
    animation: opacity 2s ease 0.5s 1 normal forwards;
    opacity: 0;
    animation-delay: 4s;
}
@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.box-8 {
    animation: opacity 2s ease 0.5s 1 normal forwards;
    opacity: 0;
    animation-delay: 4.5s;
}
@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.box-9 {
    animation: opacity 2s ease 0.5s 1 normal forwards;
    opacity: 0;
    animation-delay: 5s;
}
@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.box-10 {
    animation: opacity 2s ease 0.5s 1 normal forwards;
    opacity: 0;
    animation-delay: 5.5s;
}
@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.box-11 {
    animation: opacity 2s ease 0.5s 1 normal forwards;
    opacity: 0;
    animation-delay: 6s;
}
@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.box-12 {
    animation: opacity 2s ease 0.5s 1 normal forwards;
    opacity: 0;
    animation-delay: 6.5s;
}
@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.box-13 {
    animation: opacity 2s ease 0.5s 1 normal forwards;
    opacity: 0;
    animation-delay: 7s;
}
@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.box-14 {
    animation: opacity 2s ease 0.5s 1 normal forwards;
    opacity: 0;
    animation-delay: 7.5s;
}
@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.box-15 {
    animation: opacity 2s ease 0.5s 1 normal forwards;
    opacity: 0;
    animation-delay: 8s;
}
@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.box-16 {
    animation: opacity 2s ease 0.5s 1 normal forwards;
    opacity: 0;
    animation-delay: 8.5s;
}
@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}